<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeCop" version="3.2.0" targetFramework="net46" />
  <package id="ILRepack" version="2.0.10" targetFramework="net46" />
  <package id="ILRepack.MSBuild.Task" version="1.0.9" targetFramework="net46" />
  <package id="Jil" version="2.13.0" targetFramework="net46" />
  <package id="Sigil" version="4.5.1" targetFramework="net46" />
</packages>