<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colorful.Console" version="1.0.4" targetFramework="net46" />
  <package id="CommandLineParser" version="2.0.275-beta" targetFramework="net46" />
  <package id="ILRepack" version="2.0.10" targetFramework="net46" />
  <package id="ILRepack.MSBuild.Task" version="1.0.9" targetFramework="net46" />
  <package id="PInvoke.Kernel32" version="0.1.485-rc-g6838549876" targetFramework="net46" />
  <package id="PInvoke.MSCorEE" version="0.1.485-rc-g6838549876" targetFramework="net46" />
  <package id="PInvoke.NTDll" version="0.1.485-rc-g6838549876" targetFramework="net46" />
  <package id="PInvoke.Windows.Core" version="0.1.485-rc-g6838549876" targetFramework="net46" />
  <package id="Tababular" version="1.0.5" targetFramework="net46" />
</packages>